// @use  '';
@use "../mixins/breakpoint.scss" as bp;
$bp: (
  base: 0px,
  sm: 540px,
  md: 992px,
  lg: 1280px,
);

.container {
  max-width: calc(1160px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}