:root {

    --primary-font-family: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --theme-input-border-color: #DBDBDB;
    --theme-input-placeholder-color: #191C1F;

    --theme-card-heading-text-color: #191C1F;
    --theme-card-border-color: #F3F4F5;

    --theme-light-black-color: #5E6263;

    --theme-dropdown-background-color: #FFFFFF;
    --theme-dropdown-hover-background-color: #EC7F07;
    --theme-dropdown-text-color: #191C1F;
    --theme-dropdown-hover-text-color: #fff;

    --theme-searchbar-border-color: #EAF6FF;
    --theme-searchbar-placeholder-color: #5E6263;
    --theme-searchbar-text-color: #5E6263;

    --primary-button-background-color: #EC7F07;
    --primary-button-text-color: #fff;


    --shadow-md: 0px 4px 30px rgba(0, 0, 0, 0.15);

}